<nav class="navbar navbar-dark bg-dark">
  <div class="m-3">
    <img
      width="106"
      height="32"
      src="../../../../assets/img/7508337192_1a19c680-f4bd-48b7-ad82-6bc50e07db5f.png"
      class=".img-fluid float-start"
      alt="..."
    />
  </div>
  <div class="me-5">
    <button
      class="btn btn-outline-secondary mx-3"
      type="button"
      routerLink="/homepage"
    >
      Home
    </button>
    <button class="btn btn-outline-secondary" type="button" routerLink="/login">
      Login
    </button>
    <button
      class="btn btn-outline-secondary mx-3"
      type="button"
      routerLink="/registro"
    >
      Registro
    </button>
  </div>
</nav>
