<nav class="navbar navbar-dark bg-dark d-flex justify-content-around">
  <div class="m-3" >
    <img
      width="106"
      height="32"
      src="../../../../assets/img/7508337192_1a19c680-f4bd-48b7-ad82-6bc50e07db5f.png"
      class=".img-fluid float-start"
      alt="logo Cien de cilantro"
    />
  </div>
  <div>
    <h2 class="text-light">{{ usuario?.nombreCompleto }}</h2>
  </div>
  <div class="d-flex justify-content-evenly">
    <ng-container *ngIf="loggueado">
      <button
        class="btn btn-outline-secondary m-1"
        type="button"
        routerLink="/homepage"
      >
        Home
      </button>
      <ng-container *ngIf="this.usuario?.rol === 'Arquitecto'">
        <button
          class="btn btn-outline-secondary m-1"
          type="button"
          routerLink="/registro"
        >
          Registro
        </button>
        <button
          class="btn btn-outline-secondary m-1"
          type="button"
          routerLink="/proyecto"
        >
          Crear proyecto
        </button>


      </ng-container>
      <button
        class="btn btn-outline-danger m-1"
        type="button"
        (click)="cerrarSesion()"
      >
        Cerrar sesión
      </button>
    </ng-container>
    >
  </div>
</nav>
