<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <a
          href="/"
          class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <span class="fs-5 d-none d-sm-inline">{{ rol }}</span>
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <ng-container *ngIf="rol != 'Desarrollador'">
            <li>
              <button
                type="button"
                class="btn"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                <img
                  class="iconoLogo"
                  src="../../../../../assets/icon/Actions-document-new-icon.png"
                  alt=""
                />
                <span class="ms-1 d-none d-sm-inline">Crear Historia</span>
              </button>
            </li>
          </ng-container>
          <!--  <li>
            <a
              href=""
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="ver historia"
              class="iconoLogo"
            >
              <i class="fs-4 bi-speedometer2"
                ><img
                  src="../../../../../assets/icon/edit-file-icon.png"
                  alt=""
                  class="iconoLogo"
              /></i>
              <span class="ms-1 d-none d-sm-inline">Ver Historias</span>
            </a>
          </li> -->
        </ul>
        <hr />
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="staticBackdropLabel">
          Crear Historia
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formularioHistoria">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Descripcion de la historia</label
            >
            <textarea
              formControlName="textArea"
              [(ngModel)]="this.newHistoria.descripcion"
              class="form-control"
              rows="3"
            ></textarea>
          </div>
          <div>
            <span>Desarrolladores</span>
            <select
              formControlName="selecDev"
              [(ngModel)]="this.newHistoria.desarrolladorId"
              class="form-select m-2"
              aria-label="Default select example"
            >
              <option selected>Desarrolladores</option>
              <option
                *ngFor="let usuario of usuarios"
                value=" {{ usuario.usuarioId }}"
              >
                {{ usuario.nombreCompleto }}
              </option>
            </select>
          </div>

          <select class="form-select m-2" aria-label="Default select example">
            <option selected>Proyectos</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-danger btn-block btn-lg text-body"
          data-bs-dismiss="modal"
        >
          <span class="spinner-grow spinner-grow-sm"></span>
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-success btn-block btn-lg text-body"
          [disabled]="formularioHistoria.invalid"
          (click)="nuevaHistoria()"
          data-bs-dismiss="modal"
        >
          <span class="spinner-grow spinner-grow-sm"></span>
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- modal -->
