.iconoLogo:hover {
  transform: rotate(15deg);
}

.center {
  margin-top: 50px;
}

.modal-header {
  padding-bottom: 5px;
}

.modal-footer {
  padding: 0;
}

.modal-footer .btn-group button {
  height: 40px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
  border-right: 0;
}
.ms-1 {
  color: #ddd;
}
.btn {
  border: none;
}
.px-sm-2 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-left: 0 !important;
}
