<app-toaster></app-toaster>
  <div class="d-flex justify-content-left p-4">
    <button type="button" class="btn btn-success btn-block btn-md gradient-custom-5 text-body" routerLink="/proyecto/crear">Nuevo Proyecto</button>
  </div>

  <div class="card p-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link" routerLink="/proyecto/detalles">Ver Proyecto</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

