<app-toaster></app-toaster>
  <div class="d-flex justify-content-left p-4">
    <button type="button" class="btn btn-success btn-block btn-md gradient-custom-5 text-body" routerLink="/proyecto/crear">Nuevo Proyecto</button>
  </div>
  <!--<p>{{usuarios.proyectosAsociados[0].nombre}}</p>-->
  <div *ngFor="let usuario of usuarios">
    <div class="card p-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{usuario.nombre}}</h5>
        <a class="card-link" style="cursor:pointer;" (click)="editarProyecto(usuario.proyectoId)">Ver Proyecto</a>
        <a class="card-link" style="cursor:pointer;" (click)="eliminar(usuario.proyectoId)" >Eliminar</a>
      </div>
    </div>
  </div>
