.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(74, 225, 130, 0.2),
    rgba(5, 236, 36, 0.5)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(74, 225, 130, 0.2),
    rgba(5, 236, 36, 0.5)
  );
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgb(0, 255, 94),
    rgb(0, 220, 66)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(0, 255, 94), rgb(0, 220, 66));
}
.card {
  -webkit-box-shadow: 0px 0px 22px 7px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 22px 7px rgba(0, 0, 0, 0.55);
}
.imagen {
  max-width: 500px;
  max-height: 140px;
}
.btn {
  width: 600px;
}
.btn:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    0px 0px 7px 7px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 7px rgba(0, 0, 0, 0.41);
}
