<app-toaster></app-toaster>
<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div
          class="col-12 col-md-9 col-lg-7 col-xl-6 d-flex justify-content-center"
        >
          <div
            class="card border border-dark border-2 rounded-4"
            style="max-width: 400px"
          >
            <div class="card-body p-5">
              <img
                src="../../../../../assets/img/7508337192_1a19c680-f4bd-48b7-ad82-6bc50e07db5f.png"
                class="imagen card-img-top"
                alt=""
              />
              <h2 class="text-uppercase text-center my-5 fw-bold">
                Iniciar Sesión
              </h2>
              <form [formGroup]="formularioLogin">
                <div class="form-outline mb-4">
                  <input
                    type="email"
                    id="form3Example3cg"
                    class="form-control form-control-lg"
                    placeholder="name@example.com"
                    formControlName="email"
                    [(ngModel)]="this.loginUser.email"
                  />
                  <label class="form-label" for="form3Example3cg">Email</label>
                </div>
                <div class="form-outline mb-4">
                  <input
                    type="password"
                    id="form3Example4cg"
                    class="form-control form-control-lg"
                    placeholder="password"
                    formControlName="password"
                    [(ngModel)]="this.loginUser.password"
                  />
                  <label class="form-label" for="form3Example4cg"
                    >Password</label
                  >
                </div>
                <div class="d-flex justify-content-center">
                  <button
                    type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                    [disabled]="formularioLogin.invalid"
                    (click)="enviarFormulario()"
                  >
                    Ingresar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
