<app-toaster></app-toaster>
<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-4 fw-bold">Detalles del Proyecto</h2>
              <form [formGroup]="detallesForm">

                <div class="form-outline mb-3">
                  <label class="form-label" for="form3Example1cg">Nombre del Proyecto</label>
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" formControlName="nombre"/>
                </div>

                <div class="form-outline mb-3">
                  <label class="form-label" for="form3Example1cg">Lider Técnico</label>
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" formControlName="liderTecnicoId"/>
                </div>


              </form>
            </div>

            <div class="mb-5" >
              <form action="" [formGroup]="historiasForm">
                <div class="card"  formArrayName="tituloHistoriaUsuario">
                  <div>
                    <div class="card-header" >
                      Historias de Usuario
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item" *ngFor="let historia of Historias;">{{historia.tituloHistoriaUsuario}}</li>
                    </ul>
                  </div>
                </div>
              </form>
            </div>

            <div class="d-flex justify-content-center mb-5">
              <button type="button" class="btn btn-secondary btn-block btn-lg gradient-custom-5 text-body" >Volver</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
