<footer class="text-center text-lg-start bg-dark text-white">
  <section
    class="d-flex justify-content-center justify-content-lg-center p-4 border-bottom"
  ></section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4 fs-4">
            <i class="fas fa-gem me-3"></i>100 de cilantro App
          </h6>
          <p class="fs-4">
            100 de Cilantro App es una aplicacion construida para facilitar los
            procesos de agilismo en el mundo del desarrollo de aplicaciones web
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4 fs-4">Ir a</h6>
          <p>
            <a routerLink="/registro" class="text-reset text-decoration-none"
              >Registro</a
            >
          </p>
          <p>
            <a routerLink="/proyecto" class="text-reset text-decoration-none"
              >Crear proyectos</a
            >
          </p>
          <p>
            <a routerLink="/historias" class="text-reset text-decoration-none"
              >Ver historias de usuarios</a
            >
          </p>
          <p>
            <a routerLink="/homepage" class="text-reset text-decoration-none"
              >Home</a
            >
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4 fs-4">Contáctanos</h6>
          <p><i class="fas fa-home me-3"></i> COLOMBIA</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            100decilantroagilismo@gmail.com
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <p>Powered by</p>
    <p>
      Jhon Stiven Granada A -- Angela Maria Espinosa -- Andres Felipe Lozada --
      Rodrigo Gallego -- Juan Pablo Davila
    </p>
    <div class="d-flex justify-content-evenly">
      <div>
        <p>QA</p>
        Juan Gomez
      </div>
      <div>
        <p>SCRUM</p>
        Oscar Almendia
      </div>
    </div>
  </div>
</footer>
