footer {
  position: sticky;
  height: 110px;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: rgb(128, 128, 128);
}
div.normal {
  line-height: 80%; //disminuye el espaciado entre parrafos
  float: left; //alinea la posicion a la izquierda
}

div.icono {
  float: right; //alinea la posicion a la derecha
  line-height: 110px; //centra el elemento verticalmente
  margin-right: 50px;
}
