<section class="bg-success bg-opacity-10">
  <span class="fw-bold fz-1 mt-5 text-center d-flex justify-content-center"
    >Bienvenidos a 100 de Cilantro APP</span
  >
  <div class="d-flex flex-sm-nowrap flex-wrap">
    <p
      class="parrafo1 fs-1 m-3 text-center border border-3 border-success rounded-1 p-2"
    >
      100 de Cilantro App es una aplicacion construida para facilitar los
      procesos de agilismo en el mundo del desarrollo de aplicaciones web
    </p>
    <p
      class="parrafo2 fs-1 m-3 text-center border border-3 border-success rounded-1 p-2"
    >
      100 de Cilantro App es una aplicacion diseñada para los desarrolladores
      del mundo, una aplicacion divertida y enfocada en la productividad
    </p>
  </div>

  <figure class="figure d-flex justify-content-center m-2">
    <img
      src="../../../../../assets/img/agile.png"
      class="figure-img img-fluid rounded"
      alt="Imagen ciclos de agilismo"
    />
  </figure>
</section>
