<app-toaster></app-toaster>
<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-4 fw-bold">Registro de Usuario</h2>

              <form [formGroup]="registerForm" (ngSubmit)="postForm(registerForm.value)">

                <div class="form-outline mb-3">
                  <label class="form-label" for="form3Example1cg">Nombre Completo</label>
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" formControlName="nombreCompleto"/>
                  <div class="errores" *ngIf="registerForm.get('nombreCompleto')?.invalid && registerForm.get('nombreCompleto')?.dirty || registerForm.get('nombreCompleto')?.touched">
                    <span *ngIf="registerForm.get('nombreCompleto')?.hasError?.('required')">campo requerido</span>
                    <span *ngIf="registerForm.get('nombreCompleto')?.hasError?.('pattern')">sólo se permiten letras</span>
                  </div>
                </div>

                <div class="form-outline mb-3">
                  <label class="form-label" for="form3Example3cg">Email</label>
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" formControlName="email"/>
                  <div class="errores" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.dirty || registerForm.get('email')?.touched">
                    <span *ngIf="registerForm.get('email')?.hasError?.('required')">campo requerido</span>
                    <span *ngIf="registerForm.get('email')?.hasError?.('email')">debe ser de tipo email</span>
                  </div>
                </div>

                <div class="form-outline mb-3">
                  <label class="form-label" for="form3Example4cg">Contraseña</label>
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" formControlName="password"/>
                  <div class="errores" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.dirty || registerForm.get('password')?.touched">
                    <span *ngIf="registerForm.get('password')?.hasError?.('required')">campo requerido</span>
                    <span *ngIf="registerForm.get('password')?.hasError?.('minlength')">debe contener al menos 5 caracteres</span>
                    <span *ngIf="registerForm.get('password')?.hasError?.('maxlength')">no debe contener mas de 8 caracteres</span>
                  </div>
                </div>

                <div class="mb-4">
                  <label for="rol" class="form-label">Rol</label>
                  <select class="form-select" formControlName="rol" aria-label="Default select example">
                    <option selected>Seleccionar Rol</option>
                    <option value="LiderTecnico">Lider Técnico</option>
                    <option value="Desarrollador">Desarrollador</option>
                  </select>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Registrar</button>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-secondary btn-block btn-lg gradient-custom-5 text-body" (click)="cancelar()">Cancelar</button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
