<app-toaster></app-toaster>
<div class="container mt-5">
  <form [formGroup]="registerForm" (ngSubmit)="postForm(registerForm.value)">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre Completo</label>
      <input type="email" class="form-control" formControlName="nombre" aria-describedby="emailHelp" placeholder="Nombre completo">
    </div>
    <div class="mb-3">
      <label for="correo" class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="correo" required aria-describedby="emailHelp" placeholder="Dirección de correo electrónico">
      <div id="emailHelp" class="form-text">Esta información no se compartirá con nadie más.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" formControlName="password">
    </div>

    <label for="rol" class="form-label">Rol</label>
    <select class="form-select" formControlName="rol" aria-label="Default select example">
      <option selected>Seleccionar Rol</option>
      <option value="LiderTecnico">Lider Técnico</option>
      <option value="Desarrollador">Desarrollador</option>
    </select>

    <div class="mt-3">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
