<ng-container *ngFor="let tarea of tareas">
  <div class="card centro mb-3 border-dark" style="max-width: 13rem">
    <div class="card-header d-flex flex-column p-1 fw-bold text-uppercase">
      {{ tituloHistoriausuario }} / {{ tarea.nombreTarea }}
    </div>

    <div class="card-body p-1">
      <p class="card-text m-0 d-flex justify-content-between">
        {{ tarea.descripcionTarea
        }}<button type="button" class="btn" (click)="cambioEstado()">
          <img
            class="iconoLogo"
            src="../../../../../assets/icon/accept-icon.png"
            alt=""
          />
        </button>
      </p>
    </div></div
></ng-container>

<!-- Modal -->
<div
  class="modal fade"
  [attr.id]="'exampleModa' + item"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [attr.id]="'exampleModa' + item">
          Agregar tarea
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <form [formGroup]="formularioHistoria">
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3cg"
                >Titulo de la tarea
              </label>
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Titulo de la tarea"
                formControlName="tituloHistoriaUsuario"
                [(ngModel)]="this.nuevaTarea.nombreTarea"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label"
                >Descripcion de la tarea</label
              >
              <textarea
                [(ngModel)]="this.nuevaTarea.descripcionTarea"
                class="form-control"
                formControlName="descripcion"
                placeholder="Descripcion detallada de la tarea"
                rows="3"
              ></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger btn-block btn-lg text-body"
            data-bs-dismiss="modal"
          >
            <span class="spinner-grow spinner-grow-sm"></span>
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-success btn-block btn-lg text-body"
            (click)="clearTarea()"
            data-bs-dismiss="modal"
            [disabled]="formularioHistoria.invalid"
          >
            <span class="spinner-grow spinner-grow-sm"></span>
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer d-flex justify-content-center"></div>
